page-cadastro {
    
    .calendario {
        margin-bottom: 100%;
        margin-right: 209%;
    }

    .error-message
    {
        color: red;
    }

    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .tipo {
        padding-left: 18%; 
    }

}

