page-home {

    .bg{
        height: 100%;
        width: 100%;
        background: linear-gradient(160deg, #e6945e 30%,rgb(113, 57, 39) 70%)
    }

   /*  ion-row {
        padding-top: 2%;
        padding-bottom: 2%;
    } */

    .container3 {
        padding-top: 10%;
    }

    .slide {
        border-right: 1px solid #E63946;
      }
   
}
